<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.originalix.lix.helloandroid">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //广播
        <receiver android:name=".BootCompleteReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.originalix.lix.helloandroid.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ForceOfflineReceiver">
            <intent-filter>
                <action android:name="com.example.broadcastbestpractice.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>
        //内容提供器
        <provider
            android:name=".DatabaseProvider"
            android:authorities="com.originalix.lix.helloandroid.provider"
            android:exported="true" />
        //服务
        <service android:name=".MyService"></service>
        <service android:name=".MyIntentService"></service>

        <activity
            android:name=".HomePageActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.FIRST" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.firstActivity" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <data android:scheme="http" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".NormalActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".DialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UISizeActivity" />
        <activity android:name=".FirstFragmentActivity" />
        <activity android:name=".NewsContentActivity" />
        <activity android:name=".NewsMainActivity" />
        <activity android:name=".NetworkBroadcastActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LoginNextActivity" />
        <activity android:name=".SaveTextActivity" />
        <activity android:name=".SharedPreferencesActivity" />
        <activity android:name=".DatabaseActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".AnotherNoticeActivity" />
        <activity android:name=".SMSActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".PlayAudioActivity" />
        <activity android:name=".PlayVideoActivity" />
        <activity android:name=".ThreadActivity" />
        <activity android:name=".ServiceActivity"></activity>
    </application>

</manifest>